.about-container {
    max-width: 1200px;
    background-color: var(--lightPurple3);
    color: var(--textColor);
    border-radius: 20px;
    box-shadow: 0 0 3px 5px var(--shadowColor);
}

.about-image {
    width: 400px;
    height: auto;
}

#about h2, h3, h4{
    text-align: left;
    margin-bottom: 0px;
}

#about h4 {
    color: rgba(var(primaryAccent), 0.5);
    /* text-decoration: underline; */
}