@font-face {
    font-family: 'MainFont';
    src: url("/assets/fonts/Rubik-Regular.ttf") format('woff2'), /* Modern format */
         url("/assets/fonts/Rubik-Regular.ttf") format('woff'),   /* Fallback */
         url("/assets/fonts/Rubik-Regular.ttf") format('truetype'); /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
}

/* Reset & Global Styles */
:root {
    /* Background Colors */
    --bgColor: #2A004E; /* Deep Purple - Main Background */
    --bgColor2: rgba(42, 0, 78, 0.85); /* Transparent Overlay with Deep Purple */
    --panelColor: #500073; /* Bright Purple - Panel Background */
    --panelColor2: #9C2F0E; /* Rich Orange-Red - Secondary Panel Background */

    /* Text Colors */
    --textColor: #FFFFFF; /* White - Primary Text */
    --textColor2: #FFD9F2; /* Light Pink - Secondary Text */
    --textColor3: #88FFD6; /* Teal - Highlight Text */

    /* Accent Colors */
    --primaryAccent: #7e1600; /* Bright Orange - Primary Accent */
    --secondaryAccent: #500e00; /* Yellow-Orange - Secondary Accent */
    --hoverAccent: #00AFAF; /* Aqua - Hover Effect Accent */
    --highlightColor: #D6B6FF; /* Soft Lavender - Highlight for Special Elements */

    /* Button Colors */
    --buttonColor: #C62300; /* Bright Orange - Primary Button Background */
    --buttonColor2: #F14A00; /* Yellow-Orange - Secondary Button Background */
    --buttonTextColor: #FFFFFF; /* White - Button Text */
    --buttonHoverColor: #2A004E; /* Deep Purple - Button Hover Background */

    /* Link Colors */
    --linkColor: #F14A00; /* Yellow-Orange - Primary Link Color */
    --linkColor2: #00AFAF; /* Aqua - Secondary Link Color */
    --linkHoverColor: #88FFD6; /* Teal - Link Hover Effect */

    /* Border Colors */
    --borderColor: #6E9C3E; /* Olive Green - Primary Border */
    --borderColor2: #4B2D16; /* Deep Brown - Secondary Border */

    /* Shadows */
    --shadowColor: rgba(0, 0, 0, 0.35); /* Consistent Drop Shadow for Depth */

    --lightPurple1: #8d35b4;
    --lightPurple2: #631386;
    --lightPurple3: #500073;
    --darkPurple1: #2A004E;
    --darkPurple2: #110020;
    --darkPurple3: #0a0013;


    /* Font */
    --font: "MainFont";
}


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Basic styles for the entire website */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    background: var(--darkPurple3);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* overflow-x: hidden; */
}

/* HR Styles */
hr {
    border-style: solid;
    border-width: 2px;
    border-color: var(--primaryAccent);
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container hr {
    border-color: var(--secondaryAccent);
}

/* Headings */
h1, h2, h3 {
    color: var(--textColor2);
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
}

p, a, li {
    font-size: 1.25rem;
}

ul {
    margin-left: 50px;
}

/* Reusable Components */
.primary-link, .secondary-link {
    border-style: solid;
    border-radius: 12.5px;
    border-width: 2px;
    text-align: center;
    color: var(--textColor);
    padding: 12.5px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* .primary-link:hover, .secondary-link:hover {
    border-width: 3px;
} */

.primary-link {
    background-color: var(--lightPurple2);
    /* border-color: var(--borderColor); */
}

.primary-link:hover {
    background-color: var(--darkPurple1);
    /* border-color: var(--borderColor2); */
}

.secondary-link {
    background-color: var(--lightPurple1);
}

.secondary-link:hover {
    background-color: var(--lightPurple2);
}

.subtle-link {
    color: var(--textColor);
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}

.subtle-link:hover {
    text-decoration: underline;
    color: var(--linkHoverColor);
}

.subtle-link:active {
    color: var(--hoverAccent);
}

/* Containers */
/* Centralized Content Container */
.container {
    margin: 0 auto;
    padding: 40px 20px;
}

.horizontal-container-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: bottom;
}

.horizontal-container-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
}

.horizontal-container-stretch {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}

.vertical-container-stretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center; 
    gap: 20px;
}

.vertical-container h1 {
    margin-bottom: 0px;
}

.image-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-text-container img {
    width: 300px;
    height: auto;
    padding: 10px;
}

.text-container {
    text-align: left;
    width: 100%;
    padding: 10px;
}

/* Classes */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Header styles */
header {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin-right: 10px;
}

nav a {
    display: block;
    padding: 15px;
    color: var(--accentColor);
    font-size: 1.65rem;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--secondaryAccent);
    color: var(--accentColor);
}

.nav-image {
    height: 40px;
    width: auto;
}

/* Footer styles */
footer {
    padding-top: 60px;
    padding-bottom: 15px;
    text-align: center;
}


/* Sticky Navigation Styles */
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: var(--darkPurple3);
    border-bottom: 2px solid var(--primaryAccent);
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.sticky-nav ul {
    list-style: none;
}

.sticky-nav-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.sticky-nav-tabs li a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.65rem;
    transition: color 0.3s;
    padding: 10px;
}

.sticky-nav-tabs li a:hover {
    background-color: var(--secondaryAccent);
    color: var(--textColor2);
}

/* Section Styles */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 40px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner-image {
    height: 150px;
    width: auto;
}