.contact-container {
    width: 100%;
    /* max-width: 1100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

ul {
    list-style: none;
}

/* .primary-link {
    font-size: 1.50rem;
} */