#games {
    /* box-shadow: 0 0 7px 1px var(--bgColor2); */
    padding-top: 200px;
    padding-bottom: 200px;
    background: radial-gradient(ellipse at center, 
                  rgba(255,255,200,0.7) 0%, 
                  rgba(255,255,200,0.2) 35%, 
                  rgba(0,0,0,0) 75%);
      /* filter: blur(30px); */
}

.games-container {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center; /* centers items horizontally in their cell */
    align-items: center;   /* centers items vertically in their cell */
}


/* Card styling */
.game-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.game-card img {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}


/* Hover effects */
.game-card:hover {
    transform: scale(1.05);
}

.game-card:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-card:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1rem;
    font-weight: 6px;
    text-align: left;
    margin: 0 10px;
}

.overlay h3 {
    text-align: left;
}

.links-container {
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
