.main-section {
    width: 100%;
}

.main-container {
    width: 100%;
    background-color: var(--shadowColor);
    color: var(--textColor);
    border-radius: 20px;
    box-shadow: 0 0 3px 5px var(--shadowColor);
    /* margin: 25px; */
}

p, h1, h2, h3, h4 {
    text-align: left;
    margin-bottom: 10px;
}

hr {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

ol, ul, li {
    margin-bottom: 10px;
}

ol, ul {
    margin-left: 50px; /* Adjust indentation for all lists */
}

ol ol, ul ul {
    margin-left: 25px; /* Further indent nested lists */
}

.game-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.game-info-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: top;
}

.description {
    max-width: 50%;
}

.game-banner-image {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

/* Card styling */
.screenshot {
    /* overflow: hidden; */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: auto;
}

.screenshots {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.screenshot img {
    width: 100%;
    height: 100%;
}
