/* #banner {
    box-shadow: 0 0 7px 1px var(--bgColor2);
} */

/* #about {
    box-shadow: 0 0 7px 1px var(--bgColor2);
} */

.about-container {
    width: 90%;
    max-width: 1200px;
    background-color: var(--lightPurple3);
    color: var(--textColor);
    border-radius: 20px;
    box-shadow: 0 0 3px 5px var(--shadowColor);
}

.about-image {
    width: 400px;
    height: auto;
}

/* #resume {
    box-shadow: 0 0 7px 1px var(--bgColor2);
} */

#resume {
    font-size: larger;
}

#resume h2 {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 40px;
}

#resume h3 {
    font-size: 1.25rem;
    text-align: left;
}

#resume p {
    text-align: left;
    margin-bottom: 5px;
}

#resume ul {
    text-align: left;
    margin-bottom: 40px;
}

.resume-container {
    background-color: var(--darkPurple1);
    color: var(--textColor);
    border-radius: 15px;
    box-shadow: 0 0 3px 5px var(--shadowColor);
    padding: 40px 40px;
    max-width: 1100px;
}

#projects {
    box-shadow: 0 0 3px 5px var(--shadowColor);
}

#games {
    box-shadow: 0 0 3px 5px var(--shadowColor);
}


/* Card styling */
#projects .secondary-link {
    font-size: 1.125rem;
}

.project-card img {
    width: 300px;
    height: auto;
    border-radius: 7.5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--darkPurple2);
}

.projects-container {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    justify-content: space-evenly;
}

.project-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    justify-content: center;
    gap: 20px;
}


.project-card {
    min-height: 350px;
    background-color: var(--darkPurple1);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
}
